Source: ipv6chdetectd
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0

Package: ipv6chdetectd
Architecture: all
Depends: iserv-update,
         libpath-tiny-perl,
         stsbl-iserv-config-ipv6 (>= 19.07.06),
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IPv6 change detection daemon
 IPv6 change detection daemon is a daemon which runs iservchk everytime when
 IPv6 addresses change.
Tag: suite::iserv, implemented-in::perl
